__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/
venv/
env/


/ripx_rip/


uploads/
outputs/
/models/
*.wav
*.mp3
*.flac
*.mid

.env
*.log

.idea/
.vscode/
*.swp
*.swo

.ruff_cache/
.pytest_cache/
.mypy_cache/

*.pdf
